transformers==4.45.2
peft==0.13.1
accelerate==0.34.2
bitsandbytes==0.44.0
datasets==2.20.0
evaluate==0.4.1
safetensors>=0.4.3
sagemaker==2.232.2
sentencepiece==0.2.0
scikit-learn==1.5.1
tokenizers>=0.19.1
py7zr